<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="shortcut icon" href="/public/Images/logos/fortes-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/src/style/base.css">
    <link rel="stylesheet" href="/src/style/login-cadastro.css">
    <link rel="stylesheet" href="../style/iconLoadinf.css">
    <script type="module" src="../js/cadastro.mjs" defer></script>
    <script type="module" src="../js/user.mjs"></script>
</head>

<body>
    <div id="to-back">
        <h1><a href="../index.html">&lArr; Voltar</a></h1>
    </div>
    <main>
        <div id="container">
            <h1>Funcionário</h1>
            <section>
                <form id="formFuncionario">
                    <div class="inputs">
                        <label for="emailFuncionario">Email: </label>
                        <input type="email" id="emailFuncionario">
                    </div>
                    <div class="inputs">
                        <label for="passwordFormulario">Senha: </label>
                        <input type="password" id="passwordFuncionario">
                    </div>
                    <div class="button">
                        <button id="btnCadastro">Entrar</button>
                    </div>
                </form>
            </section>
        </div>
    </main>
</body>

</html>