<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/base.css">
    <link rel="stylesheet" href="../style/funcionario.css">
    <script type="module" src="../js/funcionario.mjs"></script>
    <title>Inicio</title>
</head>
<body>
    <aside class="container-menu">
        <div class="user-type">
            <h1>
            Funcionário
            </h1>
        </div>
        <section class="menu-lateral-funcionario">
            <div>
                <i>
                    <img src="../../public/Images/icons/relatorioIcon.svg" alt="Icone de relatório.">
                </i>
                <h2>Relátorio</h2>
            </div>
            <div>
                <i>
                    <img src="../../public/Images/icons/megaPhone.svg" alt="Icone de Mega fone.">
                </i>
                <h2>Divulgação</h2>
            </div>
            <div>
                <h2>Acompanhamento</h2>
            </div>
            <div>
                <h2>Parceiro</h2>
            </div>
            <div>
                <h2>Projetos</h2>
            </div>
            <div>
                <h2>Ajuda</h2>
            </div>
            <div>
                <h2><a href="../index.html">Sair</a></h2>
            </div>
        </section>
    </aside> 
    <main class="visible-false" id="container-relatorio">
        <h1>Relatório de visita técnica</h1>
        <section>
            <label for="empresas">Empresas anteriores</label>
            <select name="empresas" id="empresas">
                <option value="empresa1">Empresa 1</option>
                <option value="empresa2">Empresa 2</option>
                <option value="empresa3">Empresa 3</option>
            </select>
        </section>
        <div id="empresas">
            <div>
                <h2>Nome da empresa visitada</h2>
            </div>  
            <div>
                <h2>Projeto Fortificar da instituição</h2>
            </div>
            <div>
                <h2>Dado 1</h2>
            </div>
            <div>
                <h2>Dado 2</h2>
            </div>
        </div>
    </main>
    <main class="" id="containerProjects">
        <section id="">

        </section>
    </main>
</body>
</html>