<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador</title>
    <link rel="stylesheet" href="../style/home.css">
</head>

<body>
    <header>
        <nav>
            <ul class="sidebar">
                <li><a href="#">Inicio</a></li>
                <li><a href="./planejamento.html">Planejamento</a></li>
                <li><a href="./relatorios.html">Relátorio</a></li>
            </ul>
            <div class="container-logout">
                <a href="../index.html" class="logout">Sair <img src="/public/Images/icons/logoutIcon.svg"
                        alt="icone de sair da página"></a>
            </div>
        </nav>
    </header>
</body>

</html>