<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/src/style/base.css">
    <link rel="stylesheet" href="/src/style/login-cadastro.css">
    <script type="module" src="../js/login.mjs" defer></script>
    <script type="module" src="../js/login.mjs"></script>
</head>

<body>
    <!-- <div id="container-loading">
        <video src="../../public/Images/Loading (1).mp4" width="450" loop=true autoplay></video>
    </div> -->
    <div id="to-back">
        <h1><a href="../index.html">&lArr; Voltar</a></h1>
    </div>
    <main>
        <div id="container">
            <h1>Entre com seus dados</h1>
            <section>
                <form action="" id="formLogin">
                    <div class="inputs">
                        <label for="emailLogin">Email: </label>
                        <input type="email" id="emailLogin">
                    </div>
                    <div class="inputs">
                        <label for="passwordLogin">Senha: </label>
                        <input type="password" id="passwordLogin">
                    </div>
                    <div class="button">
                        <button id="btnLogin">Verificar</button>
                    </div>
                </form>
            </section>
        </div>
    </main>

</body>

</html>