<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/src/style/base.css">
    <link rel="stylesheet" href="/src/style/login-cadastro.css">
</head>
<body>
    <div id="to-back">
        <h1><a href="../index.html">&lArr; Voltar</a></h1>
    </div>
    <main>
    <div id="container">
        <h1>Entre com seus dados</h1>
    
    
    <section>
        <div class="inputs">
            <label for="email">Email: </label>
            <input type="email" id="email">
        </div>
        <div class="inputs">
            <label for="password">Senha: </label>
            <input type="password" id="password">
        </div>
        <div class="button">
            <button>Entrar</button>
        </div>
    </section>
    </div>
    </main>
</body>
</html>