<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/Images/logos/fortes-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../style/base.css">
    <link rel="stylesheet" href="../style/home.css">
    <title>Planejamento</title>
</head>
<body>
    <header>
        <nav>
            <ul class="sidebar">
                <li><a href="./home.html">Inicio</a></li>
                <li><a href="#">Planejamento</a></li>
                <li><a href="./relatorio.html">Relátorio</a></li>
            </ul>
            <div class="container-logout">
                <a href="../index.html" class="logout">Sair  <img src="/public/Images/icons/logoutIcon.svg" alt="icone de sair da página"></a>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <div class="title"><h1>Gerencie seus projetos aqui!</h1></div>
            <form>
                <div>
                    <label for="nameProject">Nome do Projeto</label>
                    <input type="text" id="nameProject">
                </div>
                <div>
                    <label for="dateFinish">Data de inicio</label>
                    <input type="date">
                </div>
                <div>
                    <label for="description">Descrição: </label>
                    <textarea name="description" id="description"></textarea>
                </div>
                <div class="button-container">
                    <button class="button">Salvar Projeto</button>
                </div>
            </form>
        </section>
        
    </main>
</body>
</html>