<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="shortcut icon" href="../../public/Images/logos/fortes-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../style/base.css">
    <link rel="stylesheet" href="../style/iconLoadinf.css">
    <link rel="stylesheet" href="../style/usuario.css">
    <script type="module" src="../js/userPage.mjs"></script>
</head>

<body>
    <aside class="container-menu">
        <div class="user-type">
            <h1>Usuário</h1>
        </div>
        <section class="menu-lateral">
            <div id="historicoLink">
                <i>
                    <img src="../../public/Images/icons/register.svg" alt="Icone de  cadastro.">
                </i>
                <h2 class="link-menu">Histórico</h2>
            </div>
            <div id="auxilio">
                <i>
                    <img src="../../public/Images/icons/partners.svg" alt="Icone de  cadastro.">
                </i>
                <h2 class="link-menu">Auxílios</h2>
            </div>
            <div>
                <i>
                    <img src="../../public/Images/icons/group.svg" alt="Icone de  cadastro.">
                </i>
                <h2 class="link-menu">Agentes</h2>
            </div>
            <div>
                <i>
                    <img src="../../public/Images/icons/finance.svg" alt="Icone de  cadastro.">
                </i>
                <h2 class="link-menu">Financeiros</h2>
            </div>
            <div id="registerLink">
                <i>
                    <img src="../../public/Images/icons/register.svg" alt="Icone de  cadastro.">
                </i>
                <h2 class="link-menu">Cadastro</h2>
            </div>
            <div>
                <i>
                    <img src="../../public/Images/icons/help.svg" alt="Icone de  cadastro.">
                </i>
                <h2 class="link-menu">Ajuda</h2>
            </div>
            <div>
                <i>
                    <img src="../../public/Images/icons/logout.svg" alt="Icone de  cadastro.">
                </i>
                <a href="./fortes.html">
                    <h2 class="link-menu">Sair</h2>
                </a>
            </div>
        </section>
    </aside>
    <main class="" id="historico">
        <h1>Histórico de Projetos</h1>
        <div id="table">
            <div class="title">
                <label for="project">Selecione o Projeto: </label>
                <select name="project" id="project">
                    <option value="Projeto1">Projeto 1</option>
                    <option value="Projeto 2">Projeto 2</option>
                    <option value="Projeto 3">Projeto 3</option>
                </select>
            </div>
            <div id="container-table">
                <table>
                    <tr>
                        <th>
                            Nome
                        </th>
                        <th>
                            Idade
                        </th>
                        <th>
                            Dados
                        </th>
                    </tr>
                    <tr>
                        <td>Giacomo Guilizzoni</td>
                        <td>40</td>
                        <td>Ausente</td>
                    </tr>
                    <tr>
                        <td>Kaio Coutinho de Souza</td>
                        <td>19</td>
                        <td>Confirmado</td>
                    </tr>
                    <tr>
                        <td>Daniel Cezana</td>
                        <td>19</td>
                        <td>Ausente</td>
                    </tr>
                    <tr>
                        <td>Jhuan Juliao</td>
                        <td>18</td>
                        <td>Confirmado</td>
                    </tr>
                </table>
            </div>
        </div>
    </main>
    <main class="visible-false" id="auxilios">
        <section>
            <div id="img-auxilios">
                <img src="../../public/Images/projetoFortes.png" alt="Projeto sol realizado pela Fortes." width="200"
                    height="200">
            </div>
            <div class="text-auxilio">
                <h1>Fortes entrega laboratórios de informática do Projeto Sol através do programa Fortificar</h1>
                <p>Doamos 10 estações de trabalho completas, incluindo computadores, mesas, cadeiras e um ano de serviço
                    de internet, permitindo o retorno das atividades de qualificação profissional para a comunidade do
                    bairro Barcelona, na Serra/ES, e arredores. Este é um marco significativo para a instituição, que há
                    muito tempo sonhava em retomar seus cursos em sua sede.</p>
            </div>
        </section>
        <div id="img-footer">
            <img src="../../public/Images/equipe-projeto-sol.png" alt="Equipe responsável pelo projeto Sol.">
        </div>
    </main>

    <main class="visible-false" id="register">
        <div id="containerText-register">
            <h1>Cadastro</h1>
            <h2>Cadastre a sua ideia aqui!</h2>
            <p>Mande a sua ideia de projeto para a equipe fortes! Preencha o formulário abaixo:</p>
        </div>
        <section>

            <form id="formProject">
                <div>
                    <label for="name">Informe seu nome: </label>
                    <input type="text" id="name">
                </div>
                <div>
                    <label for="nameProject">Nome do Projeto: </label>
                    <input type="text" id="nameProject">
                </div>
                <div>
                    <label for="descriptionProject">Descrição: </label>
                    <textarea name="descriptionProject" id="descriptionProject"
                        placeholder="Dê uma breve descrição da ideia do seu projeto..."></textarea>
                </div>
                <div id="container-button">
                    <button id="buttonRegister">Enviar</button>
                </div>
            </form>
        </section>
    </main>
</body>

</html>